<!DOCTYPE html>
<!-- This is a mako template -->

<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>${pagetitle}</title>
</head>
<body>

<div class="header">
    <h1>${pagetitle}</h1>
</div>

<div class="searchbox">
    <a href="/">Home</a> | <a href="/favorites">Favorites</a> | <a
        href="/help">Help</a> 
    <form>
        <input type="text" name="searchterm">
        <input type="submit" value="Search">
    </form>
</div>

<div class="main">
<table>
    <span id="status">
        <% count = len(data) %>
        %if count > 1:
        ${count} songs
        %elif count == 1:
        ${count} song
        %else:
        not found
        %endif
    </span>

    <tr>
        %for h in headers:
            <th>${h}</th>
        %endfor
    </tr>
	<% rowNumber = 0 %>
    %for row in data:
	    <% rowNumber += 1 %>
        %if rowNumber % 2 == 0:
			<tr class="alt">
	    %else:
	    	<tr>
	    %endif
        
        %for cell in row:
            <td>${cell}</td>
        %endfor
        </tr>
    %endfor
</table>
</div>

</body>
</html>
