[global]
server.socket_host = '0.0.0.0'
server.socket_port = 1111

[/]
tools.staticdir.root = "/Users/haiv/projects/karaoke/static"

[/favicon.ico]
tools.staticfile.on = True
tools.staticfile.filename = "/Users/haiv/projects/karaoke/static/favicon.ico"

[/css/style.css]
tools.staticfile.on = True
tools.staticfile.filename = "/Users/haiv/projects/karaoke/css/style.css"

